.product {
  background-color: #494544;
  border-radius: 10px;

  cursor: pointer;

  transition: box-shadow 0.3s ease-out;
  min-width: 325px;
  border-radius: 10px;
  display: flex;
  a {
    display: flex;
  }
}

.ImgDiv {
  min-width: 600px;
  position: relative;
}

.mainDiv {
  display: flex;
}

.descImg {
  height: 100%;
  width: 100%;
}

.titleCategoryTitle {
  border-left: 4px solid #618967;
  margin: 40px 0 0 91px;
  padding-left: 19px;
}

.product:hover {
  box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);
  border-radius: 10px;
}

.count {
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-image: url("./assets/Ellipse48.png");
  background-repeat: no-repeat;
}

img {
  width: 100%;
  border-radius: 10px;
}

.imgBuy {
  height: 20px;
  width: 100%;
  padding-left: 10px;
  border-radius: inherit;
}

.imgDivBuy {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.btnToBuy {
  color: #fff;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 600;
  border-radius: 10px;
  border-radius: 10px;
  background-color: #618967;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 13px 18px 13px 19px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  transition: background-color 0.3s ease-in-out;
}

.btn {
  @extend .btnToBuy;
  font-size: 14px;
}

.btnToBuy:hover {
  background: #1f5b25;
  box-shadow: 0 5px 10px rgba(114, 163, 121, 0.7);
}

.count-text {
  margin-top: 14px;
}

.description {
  padding: 38px 16px 0px 50px;
  /* 18 */
}

.title-block {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 25px;
  font-family: Gilroy;
  font-weight: 700;
}

.weight {
  color: #fff;
  font-size: 14px;
  font-family: Gilroy;
  margin-bottom: 22px;
}

.text {
  margin: 5px 0 113px 0;
  color: #cfcfcf;
  font-size: 14px;
  font-family: Gilroy;
}

.price-block-flex {
  display: flex;

  align-items: center;
  padding: 0 16px 0 0px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin-right: 50px;
  white-space: nowrap;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 19px 14px 19px;
  border-radius: 10px;
  width: 137px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #ffffff;
  background-color: #618967;
}

.min-button {
  border-radius: 10px;
  width: 62px;
  height: 44px;
  box-sizing: border-box;
  font-size: 28px;
  color: #ffffff;
  background-color: #618967;
  cursor: pointer;
}

.min-button:hover {
  border-radius: 10px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
}

.mainDivCategory {
  padding-top: 27px;
  padding-left: 116px;
  padding-right: 88px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bzu {
  list-style: none;
  display: flex;

  padding-left: 0px;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: -50px;
  padding-left: 50px;
  margin-bottom: 5px;
  margin-right: -16px;
  padding-right: 16px;
  column-gap: 50px;
  li {
    color: #fff;
    font-size: 12px;
    font-family: Gilroy;
    font-weight: 300;
    flex: 0 1 16%;
  }
}

.bzuNumbers {
  @extend .bzu;
  margin-top: 5px;
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  li:nth-child(4) {
    position: relative;
    transform: translateX(19px);
  }
  li:nth-child(5) {
    position: relative;
    transform: translateX(12px);
  }
}

.back {
  margin-left: 116px;
  margin-top: 44px;

  display: flex;
  align-items: center;
  column-gap: 10px;
  button {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 600;
  }
}

.backImg {
  width: 26px;
  height: 26px;
}

.inBag {
  white-space: nowrap;
}

.mainFoodCount {
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #618967;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1025px) {
  .ImgDiv {
    min-width: 60%;
  }

  .mainDivCategory {
    padding-left: 50px;
    padding-right: 50px;
  }

  .bzu {
    column-gap: 20px;
  }

  .bzuNumbers {
    & :nth-child(4),
    & :nth-child(5) {
      position: relative;
      left: -10px;
    }
  }

  .description {
    padding-bottom: 10px;
  }
}

@media (max-width: 769px) {
  .mainDiv {
    flex-direction: column;
  }

  .mainDivCategory {
    justify-content: center;
    display: flex;
  }

  .product {
    display: inline-flex;
  }

  .title-block {
    text-align: center;
  }

  .text {
    margin-bottom: 10px;
  }
  .price-block {
    text-align: center;
  }

  .price-block-flex {
    justify-content: center;
    padding: 0;
  }
}
