.topMainDiv {
  button {
    color: #fff;
    font-family: Gilroy;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.topDiv {
  padding-top: 34px;
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding-left: 318px;
  margin-bottom: 20px;
}

.arrow {
  height: 12px;
  width: 7px;
}

.textBag {
  border-left: 4px solid #618967;
  margin-left: 318px;
  padding-left: 17px;
  color: #fff;
  font-size: 32px;
  font-family: Gilroy;
  font-weight: 700;
  text-transform: uppercase;
}

.mainScreen {
  padding-top: 71px;
  padding-left: 172px;
  padding-right: 172px;
  padding-bottom: 40px;
}

.item {
  display: flex;
  padding-left: -146px;
  padding: 20px;

  align-items: center;
  img {
    width: 117px;
    height: 76px;
  }

  span {
    color: #fff;
    font-size: 18px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  button {
    color: #fff;

    font-family: Gilroy;
    font-weight: 600;
    border-radius: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;

    transition: all 0.3s ease-out;
  }
}

.item:not(:last-child) {
  border-bottom: 1px solid #5d5756;
}

.items {
  border-radius: 10px;
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
}

.count {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 20px;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btnPlus {
  margin-right: 120px;
}

.price {
  color: #fff;
  font-size: 20px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 78px;
  white-space: nowrap;
}
.imgDelete {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  background-color: #618967;
  cursor: pointer;
  img {
    height: 24px;
    width: 24px;
    margin-right: 0px;
  }
}

.imgMinus {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 50px;
  box-shadow: 0px;
  padding: 0px;
  cursor: pointer;
  font-weight: normal;
  position: relative;
  z-index: 2;
  padding: -10px 10px;
  img {
    height: 48px;
    width: 48px;
  }
}

.imgMinus::after {
  content: "";
  position: absolute;
  transform: translateX(11px);
  z-index: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #618967;
  transition: all 0.5s ease-out;
}
.imgDelete::after {
  content: "";
  position: absolute;
  transform: translateX(0px);
  z-index: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #618967;
  transition: all 0.5s ease-out;
}

.imgMinus:hover,
.imgDelete:hover {
  &::after {
    box-shadow: 0px 0px 20px rgba(114, 163, 121, 0.7);
  }
}

.imgPlus {
  @extend .imgMinus;
  margin-right: 130px;
  cursor: pointer;
}

.foodImg {
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  &:hover {
    box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);
    border-radius: 10px;
  }
}

.foodComposition {
  color: #a6a7ab;
  font-size: 12px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 210px;
}

.foodName {
  color: #fff;
  font-size: 18px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

.emptyShoppingCart {
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
}

.desc {
  width: 443px;
}

.countNumber {
  width: 24px;
  height: 24px;
  text-align: center;
}
