.main {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 50px;
  p {
    font-size: 20px;
    margin-right: 20px;
    width: 200px;
    margin-bottom: 10px;
  }

  input:disabled {
    background-color: #3c6242;
    cursor: not-allowed;
  }

  input {
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    background-color: #618967;
    width: 300px;
  }

  select {
    background-color: #3c6242;
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.h2 {
  font-size: 30px;
  padding: 30px 0px 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-self: flex-end;

  button {
    background-color: #618967;
    color: white;
    height: 100%;
    padding: 9px 20px 9px 20px;
    transition: all 0.3s ease-out;
    border-radius: 10px;

    &:hover {
      background-color: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
      box-shadow: 0 5px 10px rgba(114, 163, 121, 0.7);
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.name {
  display: flex;
  align-items: flex-start;
}

.birthBtn {
  background-color: #618967;
  color: white;
  height: 100%;
  padding: 9px 20px 9px 20px;
  transition: all 0.3s ease-out;
  border-radius: 10px;

  &:hover {
    background-color: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    box-shadow: 0 5px 10px rgba(114, 163, 121, 0.7);
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.history {
  margin-top: 30px;
  width: 100%;
  p {
    white-space: nowrap;
  }
  .historyText {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .orderItem {
    margin-bottom: 35px;
  }

  .totalPrice {
    font-weight: 700;
    color: #72a479;
  }
}

.orderText {
  font-size: 25px;
}

.btnExit {
  background-color: #618967;
  color: white;
  height: 100%;
  padding: 9px 20px 9px 20px;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  &:hover {
    background-color: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    box-shadow: 0 5px 10px rgba(114, 163, 121, 0.7);
  }
}

@media (max-width: 426px) {
  .name {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    input {
      margin-bottom: 20px;
    }

    > div {
      width: 100%;
    }
  }

  .buttons {
    margin-left: 0;
    align-self: flex-start;
  }

  .historyText {
    width: 100%;
  }

  .orderText {
    font-size: 16px;
  }

  .main {
    width: 100%;
    margin-right: 0px;
    input {
      width: 100%;
    }

    > div {
      width: 100%;
    }
  }

  .dayOfBirth {
    p {
      width: auto;
      margin-right: 0;
    }
  }

  .selects {
    display: flex;
    justify-content: space-between;
    select {
      &:not(:last-child) {
        margin-right: 0;
        min-width: 40%;
      }
      &:last-child {
        min-width: 50%;
      }
    }
  }
}
