.about {
  display: flex;
  justify-content: space-between;
  margin: 0 40px -140px 40px;
  height: 610px;
  background-image: url("./assets/AboutBack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
  position: relative;
  margin-top: 93px;
}

.title {
  margin: 100px 0 26px 70px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.text {
  margin: 0 0 60px 70px;
  width: 563px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(207, 207, 207, 1);
}

.button {
  margin-left: 70px;
  padding: 22px 45px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: color 0.3 ea;
}

.button:hover {
  color: #79b282;
}

.cards {
  margin: 70px 99px 0 0;
}

/* @media (max-width: 1024px) {
  .about {
    padding: 40px 40px;
    height: auto;
  }

  .title {
    margin: 0 0 20px 0;
  }

  .cards {
    display: none;
  }

  .text {
    margin: 0 0 20px 0;
    width: 100%;
    color: #fff;
  }

  .button {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 375px) {
  .about {
    display: none;
  }
} */

@media (max-width: 1000px) {
  .about {
    height: auto;
    display: none;
  }
  .text {
    margin: 0 0 40px 0px;
    padding-right: 15px;
    width: auto;
  }

  .title {
    margin: 100px 0 26px 0px;
  }

  .about {
    flex-direction: column;
    margin: 0px;
  }

  .cards {
    display: none;
  }
}
