.header {
  display: flex;
  align-items: center;
  margin: 0 0 0 83px;
  height: 99px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  color: #fff;
  font-size: 25px;
  font-family: Gilroy;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 3.75px;
  border-radius: 0px;
  height: 20px;
  width: 100px;
}

.burger-menu {
  display: none;
  border: none;
  background-color: inherit;
}

.search,
.search-mobil {
  text-overflow: ellipsis;
  padding: 15px 80px 16px 48px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 52px;
  box-sizing: border-box;
  background-color: #504b4a;
  margin-left: 72px;
  margin-right: 0px;
  color: aliceblue;
  width: 36vw;
}

.search-mobil {
  display: none;
}

.search::placeholder,
.search-mobil::placeholder {
  padding-left: 48px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;
  color: #cfcfcf;
  background-image: url("./assets/Location.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.searchImg {
  width: 24px;
  height: 24px;
  position: relative;
  right: 5%;
}

.contacts {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.caller-block {
  width: 42px;
  height: 32px;
  background-image: url("./assets/Ellipse.png");
  background-repeat: no-repeat;
}

.caller {
  margin: 10.67px 0 0 9.67px;
  width: 13px;
  height: 13px;
}

.contact-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #cfcfcf;
}

.contact-number {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
}

.cart {
  display: flex;
  align-items: center;
  padding: 18px 13px 17px 24px;
  border-radius: 10px;
  width: 149px;
  height: 52px;
  box-sizing: border-box;
  color: #fff;
  background-color: #618967;
  border: none;
  transition: all 0.3s ease-out;
}

.cart:hover {
  background-color: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  box-shadow: 0 5px 10px rgba(114, 163, 121, 0.7);
}

.cart-text {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.cart-count {
  margin-left: 12px;
  padding: 5px 9px 5px 8px;
  width: 24px;
  height: auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #403c3b;
  background-image: url("./assets/Ellipse50.png");
  background-repeat: no-repeat;
  object-fit: cover;
}

.cart2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 5px 0 9px 0;
  border: 1px solid #618967;
  border-radius: 10px;
  width: 62px;
  height: 56px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  background-color: #618967;
}

.promt {
  width: 36vw;
  padding-left: 48px;
  position: absolute;
  top: 80px;
  left: 170px;
  text-decoration: none;
  list-style: none;
  font-family: "Gilroy";
  background-color: #403c3b;
  display: flex;
  flex-direction: column;
  z-index: 200;
  padding: 0;
  font-size: 16px;
  padding-left: 48px;
  border-radius: 10px;
  background: #504b4a;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.promt li {
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
}

.phoneNum {
  padding-left: 10px;
  padding-right: 32px;
  border-right: 1px solid #635c5a;
}

.logIn {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s ease;
}

.logInImg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-left: 21px;
}

.logInImgText {
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s ease;
}

.logIn:hover {
  color: #618967;
}

.root:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 10;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.shoppingCartImg {
  display: none;
}

.textMenu {
  display: none;
}
/* Адаптив */

@media (max-width: 1240px) {
  .header {
    margin-left: 30px;
  }

  .promt {
    left: 140px;
  }
  .search::placeholder {
    color: transparent;
  }

  .search {
    margin-left: 40px;
  }

  .contacts {
    margin-right: 30px;
  }

  .searchImg {
    right: 5vw;
  }
}

@media (max-width: 900px) {
  .shoppingCartImg {
    display: block;
    width: 24px;
    margin-right: 10px;
  }

  .promt {
    width: 28vw;
    left: 114px;
  }

  .cart-text {
    display: none;
  }

  .cart {
    padding-left: 15px;
  }

  .search {
    margin-right: 0;
    margin-left: 15px;
    width: 100%;
  }
}

.burgerScreen {
  display: none;
}

@media (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
    height: auto;
    align-items: center;
  }
  .burger-menu {
    display: block;
    margin-left: 16px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promt {
    left: 0;
    top: 93%;
    width: 100%;
  }
  .burger-menu img {
    border-radius: 0px;
    width: 25px;
    height: 17px;
    margin-bottom: 6px;
  }

  .contacts {
    display: none;
  }

  .search {
    order: 4;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 15px;

    min-height: 52px;
  }

  .searchImg {
    top: 60px;
    left: 25vw;
  }

  .search::placeholder {
    color: #cfcfcf;
  }
  .cart {
    width: auto;
  }
  .cart img {
    width: auto;
  }

  .textMenu {
    display: inline;
    color: #fff;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .logo {
    margin-left: 15vw;
  }
}

@media (max-width: 321px) {
  .header {
    justify-content: space-between;
  }
  .logo {
    margin-left: 0;
    position: relative;
    transform: translateX(5vw);
  }

  .search::placeholder {
    font-size: 15px;
    padding-left: 25px;
  }
}

/* @media (max-width: 1024px) {
  .search {
    width: 325px;
  }
}

@media (max-width: 768px) {
  .header-block {
    padding-bottom: 13px;
  }

  .search {
    display: none;
  }

  .search-mobil {
    display: block;
    margin: 0 auto;
  }
} */

/* @media (max-width: 375px) {
  .header {
    margin: 0;
    padding: 12px 15px 13px 26px;
    height: auto;
  }

  .burger-menu {
    display: block;
  }

  .search-mobil {
    margin-bottom: 0;
    width: 345px;
    height: 52px;
  }

  .search-mobil::placeholder {
    padding: 0 18px 0 48px;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts {
    display: none;
  }

  .cart {
    display: none;
  }

  .cart2 {
    display: flex;
  }
} */
