* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  max-width: 1470px;
  padding: 15px;
}

body {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: linear-gradient(0deg, #211f20 0%, #44403f 100%);
  font-family: "Gilroy";
}

button {
  cursor: pointer;
  transition: color 0.3s ease-out;
}

a {
  cursor: pointer;
  transition: color 0.3s ease-out;
}
