.hero {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 484px;
}

.mobileHero {
  display: none;
}

@media (max-width: 700px) {
  .hero {
    display: none;
  }

  .mobileHero {
    display: block;
    height: 295px;
  }
}
